body {
  margin: 0px;
  padding: 0px;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  outline: none;
}

#app {
  padding-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 700px;
  border-radius: 5px;
}

.search {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  height: 48px;
  overflow: hidden;
  padding: 0px 16px;
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 24px;
  margin-bottom: 32px;
}

.search input {
  outline: none;
  border: none;
}

.search img {
  cursor: pointer;
}

.products {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
}

.products-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
  min-height: 500px;
}

.products-item {
  height: 192px;
  display: grid;
  grid-template-columns: 128px 1fr;
  column-gap: 16px;
  padding: 16px;
  border-bottom: 1px solid gray;
}
.products-list li:last-child div{
  border: none;
}
.products-item img{
  justify-self: center;
  height: 160px;
  width: 128px;
  object-fit: contain;
}

.products-item h2{
  font-size: 18px;
}

.products-item > div{
  padding-right: 32px;
}
.rating{
  display: inline-flex;
  align-items: center;
  gap: 2px;
  width: 100px;
  height: 16px;
}

.rating span{
  display: inline-block;
  width: 16px;
  height: 15px;
  position: relative;
}

.half-star::after{
  display: inline-block;
  background-color: white;
  content: "";
  width: 8px;
  height: 16px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.search-button{
  background-color: transparent;
}

.empty-list{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}